name: lot_size_calculator
description: A Forex lot size calculator app for traders
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/trading.webp
    - assets/Screenshots/Screenshot1.png
    - assets/Screenshots/Screenshot2.png
